### Time Series

In [2]:
import pandas as pd
import numpy as np

In [4]:
x = pd.Timestamp('20200220')
x

Timestamp('2020-02-20 00:00:00')

In [6]:
x = pd.DataFrame([{
    'no': 1,
    'waktu': pd.Timestamp('20200220')
}])
x

   no      waktu
0   1 2020-02-20

In [8]:
pd.date_range('20200306', periods=10)

DatetimeIndex(['2020-03-06', '2020-03-07', '2020-03-08', '2020-03-09',
               '2020-03-10', '2020-03-11', '2020-03-12', '2020-03-13',
               '2020-03-14', '2020-03-15'],
              dtype='datetime64[ns]', freq='D')

In [16]:
a = pd.DataFrame({
    'no':[1,2,3,4,5],
    'suhu': [30,32,35,34,23],
    'waktu': pd.date_range('20200306', periods=5)
})
a

   no  suhu      waktu
0   1    30 2020-03-06
1   2    32 2020-03-07
2   3    35 2020-03-08
3   4    34 2020-03-09
4   5    23 2020-03-10

In [17]:
# Cara paling mudah mengolah dataFrame dengan timeseries adalah dengan menjadikan kolom time series tersebut sebagai index
a = a.set_index('waktu')
a

            no  suhu
waktu
2020-03-06   1    30
2020-03-07   2    32
2020-03-08   3    35
2020-03-09   4    34
2020-03-10   5    23

In [25]:
# Kemudahan dengan tipe datetime dan dijadikan index
a['2020']
a['2020-03']
a['2020-03-06':'2020-03-07']

            no  suhu
waktu
2020-03-06   1    30
2020-03-07   2    32

#### Case Study

In [18]:
df = pd.read_csv('GOOG.csv')
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-01-06,1350.000000,1396.500000,1350.000000,1394.209961,1394.209961,1732300
1,2020-01-07,1397.939941,1402.989990,1390.380005,1393.339966,1393.339966,1502700
2,2020-01-08,1392.079956,1411.579956,1390.839966,1404.319946,1404.319946,1528000
3,2020-01-09,1420.569946,1427.329956,1410.270020,1419.829956,1419.829956,1500900
4,2020-01-10,1427.560059,1434.928955,1418.349976,1429.729980,1429.729980,1820700
5,2020-01-13,1436.130005,1440.520020,1426.020020,1439.229980,1439.229980,1652300
6,2020-01-14,1439.010010,1441.800049,1428.369995,1430.880005,1430.880005,1558900
7,2020-01-15,1430.209961,1441.395020,1430.209961,1439.199951,1439.199951,1282700
8,2020-01-16,1447.439941,1451.989990,1440.920044,1451.699951,1451.699951,1173700
9,2020-01-17,1462.910034,1481.295044,1458.219971,1480.390015,1480.390015,2396200
10,2020-01-21,1479.119995,1491.849976,1471.199951,1484.400024,1484.400024,2036700
11,2020-01-22,1491.000000,1503.213989,1484.930054,1485.949951,1485.949951,1610800
12,2020-01-23,1487.640015,1495.520020,1482.099976,1486.650024,1486.650024,1351200
13,2020-01-24,1493.589966,1495.494995,1465.250000,1466.709961,1466.709961,1784600
14,2020-01-27,1431.000000,1438.069946,1421.199951,1433.900024,1433.900024,1755200
15,2020-01-28,1443.000000,1456.000000,1432.469971,1452.560059,1452.560059,1577400
16,2020-01-29,1458.800049,1465.430054,1446.739990,1458.630005,1458.630005,1077700
17,2020-01-30,1439.959961,1457.280029,1436.400024,1455.839966,1455.839966,1339400
18,2020-01-31,1468.900024,1470.130005,1428.530029,1434.229980,1434.229980,2417200
19,2020-02-03,1462.000000,1490.000000,1458.989990,1485.939941,1485.939941,3055200
20,2020-02-04,1457.069946,1469.500000,1426.300049,1447.069946,1447.069946,3933000
21,2020-02-05,1462.420044,1463.839966,1430.560059,1448.229980,1448.229980,1986200
22,2020-02-06,1450.329956,1482.000000,1449.569946,1476.229980,1476.229980,1679400
23,2020-02-07,1467.300049,1485.839966,1466.349976,1479.229980,1479.229980,1172300
24,2020-02-10,1474.319946,1509.500000,1474.319946,1508.680054,1508.680054,1419900
25,2020-02-11,1511.810059,1529.630005,1505.637939,1508.790039,1508.790039,1344600
26,2020-02-12,1514.479980,1520.694946,1508.109985,1518.270020,1518.270020,1167600
27,2020-02-13,1512.689941,1527.180054,1504.599976,1514.660034,1514.660034,929500
28,2020-02-14,1515.599976,1520.739990,1507.339966,1520.739990,1520.739990,1197800
29,2020-02-18,1515.000000,1531.630005,1512.589966,1519.670044,1519.670044,1120700
30,2020-02-19,1525.069946,1532.105957,1521.400024,1526.689941,1526.689941,949300
31,2020-02-20,1522.000000,1529.640015,1506.819946,1518.150024,1518.150024,1096600
32,2020-02-21,1508.030029,1512.214966,1480.439941,1485.109985,1485.109985,1731700
33,2020-02-24,1426.109985,1436.969971,1411.390015,1421.589966,1421.589966,2867100
34,2020-02-25,1433.000000,1438.140015,1382.400024,1388.449951,1388.449951,2478300
35,2020-02-26,1396.140015,1415.699951,1379.000000,1393.180054,1393.180054,2202400
36,2020-02-27,1362.060059,1371.703979,1317.170044,1318.089966,1318.089966,2978300
37,2020-02-28,1277.500000,1341.140015,1271.000000,1339.329956,1339.329956,3790600
38,2020-03-02,1351.609985,1390.869995,1326.814941,1389.109985,1389.109985,2431500
39,2020-03-03,1399.420044,1410.150024,1332.000000,1341.390015,1341.390015,2402300
40,2020-03-04,1359.229980,1388.089966,1343.109985,1386.520020,1386.520020,1913300
41,2020-03-05,1350.199951,1358.910034,1305.099976,1319.040039,1319.040039,2555900

In [19]:
# Cek tipe data
df.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [22]:
# Kenapa tanggal harus tipe datetime?
# Untuk memudahkan memanggil data jika datetime dijadikan index

In [27]:
# merubah format tanggal jadi datetime
df['Date'] = df['Date'].astype('datetime64')
df.dtypes

Date         datetime64[ns]
Open                float64
High                float64
Low                 float64
Close               float64
Adj Close           float64
Volume                int64
dtype: object

In [28]:
# Cara lain:
# Menggunakan parse_dates=['Date'] saat read files. (more info: catatan tutorial DataCamp)

#### All in One Time

In [32]:
df = pd.read_csv('GOOG.csv', parse_dates=['Date'], index_col='Date')
df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-01-06,1350.000000,1396.500000,1350.000000,1394.209961,1394.209961,1732300
2020-01-07,1397.939941,1402.989990,1390.380005,1393.339966,1393.339966,1502700
2020-01-08,1392.079956,1411.579956,1390.839966,1404.319946,1404.319946,1528000
2020-01-09,1420.569946,1427.329956,1410.270020,1419.829956,1419.829956,1500900
2020-01-10,1427.560059,1434.928955,1418.349976,1429.729980,1429.729980,1820700
2020-01-13,1436.130005,1440.520020,1426.020020,1439.229980,1439.229980,1652300
2020-01-14,1439.010010,1441.800049,1428.369995,1430.880005,1430.880005,1558900
2020-01-15,1430.209961,1441.395020,1430.209961,1439.199951,1439.199951,1282700
2020-01-16,1447.439941,1451.989990,1440.920044,1451.699951,1451.699951,1173700
2020-01-17,1462.910034,1481.295044,1458.219971,1480.390015,1480.390015,2396200
2020-01-21,1479.119995,1491.849976,1471.199951,1484.400024,1484.400024,2036700
2020-01-22,1491.000000,1503.213989,1484.930054,1485.949951,1485.949951,1610800
2020-01-23,1487.640015,1495.520020,1482.099976,1486.650024,1486.650024,1351200
2020-01-24,1493.589966,1495.494995,1465.250000,1466.709961,1466.709961,1784600
2020-01-27,1431.000000,1438.069946,1421.199951,1433.900024,1433.900024,1755200
2020-01-28,1443.000000,1456.000000,1432.469971,1452.560059,1452.560059,1577400
2020-01-29,1458.800049,1465.430054,1446.739990,1458.630005,1458.630005,1077700
2020-01-30,1439.959961,1457.280029,1436.400024,1455.839966,1455.839966,1339400
2020-01-31,1468.900024,1470.130005,1428.530029,1434.229980,1434.229980,2417200
2020-02-03,1462.000000,1490.000000,1458.989990,1485.939941,1485.939941,3055200
2020-02-04,1457.069946,1469.500000,1426.300049,1447.069946,1447.069946,3933000
2020-02-05,1462.420044,1463.839966,1430.560059,1448.229980,1448.229980,1986200
2020-02-06,1450.329956,1482.000000,1449.569946,1476.229980,1476.229980,1679400
2020-02-07,1467.300049,1485.839966,1466.349976,1479.229980,1479.229980,1172300
2020-02-10,1474.319946,1509.500000,1474.319946,1508.680054,1508.680054,1419900
2020-02-11,1511.810059,1529.630005,1505.637939,1508.790039,1508.790039,1344600
2020-02-12,1514.479980,1520.694946,1508.109985,1518.270020,1518.270020,1167600
2020-02-13,1512.689941,1527.180054,1504.599976,1514.660034,1514.660034,929500
2020-02-14,1515.599976,1520.739990,1507.339966,1520.739990,1520.739990,1197800
2020-02-18,1515.000000,1531.630005,1512.589966,1519.670044,1519.670044,1120700
2020-02-19,1525.069946,1532.105957,1521.400024,1526.689941,1526.689941,949300
2020-02-20,1522.000000,1529.640015,1506.819946,1518.150024,1518.150024,1096600
2020-02-21,1508.030029,1512.214966,1480.439941,1485.109985,1485.109985,1731700
2020-02-24,1426.109985,1436.969971,1411.390015,1421.589966,1421.589966,2867100
2020-02-25,1433.000000,1438.140015,1382.400024,1388.449951,1388.449951,2478300
2020-02-26,1396.140015,1415.699951,1379.000000,1393.180054,1393.180054,2202400
2020-02-27,1362.060059,1371.703979,1317.170044,1318.089966,1318.089966,2978300
2020-02-28,1277.500000,1341.140015,1271.000000,1339.329956,1339.329956,3790600
2020-03-02,1351.609985,1390.869995,1326.814941,1389.109985,1389.109985,2431500
2020-03-03,1399.420044,1410.150024,1332.000000,1341.390015,1341.390015,2402300
2020-03-04,1359.229980,1388.089966,1343.109985,1386.520020,1386.520020,1913300
2020-03-05,1350.199951,1358.910034,1305.099976,1319.040039,1319.040039,2555900

In [34]:
df['2020']

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-01-06,1350.000000,1396.500000,1350.000000,1394.209961,1394.209961,1732300
2020-01-07,1397.939941,1402.989990,1390.380005,1393.339966,1393.339966,1502700
2020-01-08,1392.079956,1411.579956,1390.839966,1404.319946,1404.319946,1528000
2020-01-09,1420.569946,1427.329956,1410.270020,1419.829956,1419.829956,1500900
2020-01-10,1427.560059,1434.928955,1418.349976,1429.729980,1429.729980,1820700
2020-01-13,1436.130005,1440.520020,1426.020020,1439.229980,1439.229980,1652300
2020-01-14,1439.010010,1441.800049,1428.369995,1430.880005,1430.880005,1558900
2020-01-15,1430.209961,1441.395020,1430.209961,1439.199951,1439.199951,1282700
2020-01-16,1447.439941,1451.989990,1440.920044,1451.699951,1451.699951,1173700
2020-01-17,1462.910034,1481.295044,1458.219971,1480.390015,1480.390015,2396200
2020-01-21,1479.119995,1491.849976,1471.199951,1484.400024,1484.400024,2036700
2020-01-22,1491.000000,1503.213989,1484.930054,1485.949951,1485.949951,1610800
2020-01-23,1487.640015,1495.520020,1482.099976,1486.650024,1486.650024,1351200
2020-01-24,1493.589966,1495.494995,1465.250000,1466.709961,1466.709961,1784600
2020-01-27,1431.000000,1438.069946,1421.199951,1433.900024,1433.900024,1755200
2020-01-28,1443.000000,1456.000000,1432.469971,1452.560059,1452.560059,1577400
2020-01-29,1458.800049,1465.430054,1446.739990,1458.630005,1458.630005,1077700
2020-01-30,1439.959961,1457.280029,1436.400024,1455.839966,1455.839966,1339400
2020-01-31,1468.900024,1470.130005,1428.530029,1434.229980,1434.229980,2417200
2020-02-03,1462.000000,1490.000000,1458.989990,1485.939941,1485.939941,3055200
2020-02-04,1457.069946,1469.500000,1426.300049,1447.069946,1447.069946,3933000
2020-02-05,1462.420044,1463.839966,1430.560059,1448.229980,1448.229980,1986200
2020-02-06,1450.329956,1482.000000,1449.569946,1476.229980,1476.229980,1679400
2020-02-07,1467.300049,1485.839966,1466.349976,1479.229980,1479.229980,1172300
2020-02-10,1474.319946,1509.500000,1474.319946,1508.680054,1508.680054,1419900
2020-02-11,1511.810059,1529.630005,1505.637939,1508.790039,1508.790039,1344600
2020-02-12,1514.479980,1520.694946,1508.109985,1518.270020,1518.270020,1167600
2020-02-13,1512.689941,1527.180054,1504.599976,1514.660034,1514.660034,929500
2020-02-14,1515.599976,1520.739990,1507.339966,1520.739990,1520.739990,1197800
2020-02-18,1515.000000,1531.630005,1512.589966,1519.670044,1519.670044,1120700
2020-02-19,1525.069946,1532.105957,1521.400024,1526.689941,1526.689941,949300
2020-02-20,1522.000000,1529.640015,1506.819946,1518.150024,1518.150024,1096600
2020-02-21,1508.030029,1512.214966,1480.439941,1485.109985,1485.109985,1731700
2020-02-24,1426.109985,1436.969971,1411.390015,1421.589966,1421.589966,2867100
2020-02-25,1433.000000,1438.140015,1382.400024,1388.449951,1388.449951,2478300
2020-02-26,1396.140015,1415.699951,1379.000000,1393.180054,1393.180054,2202400
2020-02-27,1362.060059,1371.703979,1317.170044,1318.089966,1318.089966,2978300
2020-02-28,1277.500000,1341.140015,1271.000000,1339.329956,1339.329956,3790600
2020-03-02,1351.609985,1390.869995,1326.814941,1389.109985,1389.109985,2431500
2020-03-03,1399.420044,1410.150024,1332.000000,1341.390015,1341.390015,2402300
2020-03-04,1359.229980,1388.089966,1343.109985,1386.520020,1386.520020,1913300
2020-03-05,1350.199951,1358.910034,1305.099976,1319.040039,1319.040039,2555900

In [35]:
df['2020-02']

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-02-03,1462.000000,1490.000000,1458.989990,1485.939941,1485.939941,3055200
2020-02-04,1457.069946,1469.500000,1426.300049,1447.069946,1447.069946,3933000
2020-02-05,1462.420044,1463.839966,1430.560059,1448.229980,1448.229980,1986200
2020-02-06,1450.329956,1482.000000,1449.569946,1476.229980,1476.229980,1679400
2020-02-07,1467.300049,1485.839966,1466.349976,1479.229980,1479.229980,1172300
2020-02-10,1474.319946,1509.500000,1474.319946,1508.680054,1508.680054,1419900
2020-02-11,1511.810059,1529.630005,1505.637939,1508.790039,1508.790039,1344600
2020-02-12,1514.479980,1520.694946,1508.109985,1518.270020,1518.270020,1167600
2020-02-13,1512.689941,1527.180054,1504.599976,1514.660034,1514.660034,929500
2020-02-14,1515.599976,1520.739990,1507.339966,1520.739990,1520.739990,1197800
2020-02-18,1515.000000,1531.630005,1512.589966,1519.670044,1519.670044,1120700
2020-02-19,1525.069946,1532.105957,1521.400024,1526.689941,1526.689941,949300
2020-02-20,1522.000000,1529.640015,1506.819946,1518.150024,1518.150024,1096600
2020-02-21,1508.030029,1512.214966,1480.439941,1485.109985,1485.109985,1731700
2020-02-24,1426.109985,1436.969971,1411.390015,1421.589966,1421.589966,2867100
2020-02-25,1433.000000,1438.140015,1382.400024,1388.449951,1388.449951,2478300
2020-02-26,1396.140015,1415.699951,1379.000000,1393.180054,1393.180054,2202400
2020-02-27,1362.060059,1371.703979,1317.170044,1318.089966,1318.089966,2978300
2020-02-28,1277.500000,1341.140015,1271.000000,1339.329956,1339.329956,3790600

In [36]:
df['2020-02-02':'2020-02-04']

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-02-03,1462.000000,1490.0,1458.989990,1485.939941,1485.939941,3055200
2020-02-04,1457.069946,1469.5,1426.300049,1447.069946,1447.069946,3933000

#### RESAMPLE

In [42]:
# Mau tau rata-rata close tiap bulan ('M'), weekly ('W'), Quartal ('Q'), yearly ('Y'), daily ('D')
# df['Close'].resample('Q').mean()

Date
2020-03-31    1445.139515
Freq: Q-DEC, Name: Close, dtype: float64

In [43]:
# NOTES!
# Jika ada tanggal yang value nya kosong, disarankan tidak menghapus data (Jika menggunakan timeseries)
# What to do? Preferable forward filling missing value