In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Recommendation System

- Top/Popular Based Filtering : biasa ditujukan untuk new user
- Content Based Filtering
- Collaborative Filtering

<img src="https://miro.medium.com/max/4056/1*yrkvweErbifbPFkBUyZlOw.png" 
     width="500px">

<hr>

### 1. Content-based filtering

#### A. Cosinus similiarity
- menghitung kesamaan data (value, pola)
- diliat bukan cuma pervalue namun juga dari pola/pattern yang ada

In [2]:
from sklearn.metrics.pairwise import cosine_similarity

In [3]:
x = np.array([1,2,3])
y = np.array([1,2,3])

In [4]:
similarityScore = cosine_similarity([x,y])
similarityScore

array([[1., 1.],
       [1., 1.]])

In [5]:
# data berbeda 1 elemen
x = np.array([1,1,1])
y = np.array([1,2,1])
similarityScore = cosine_similarity([x,y])
similarityScore

array([[1.        , 0.94280904],
       [0.94280904, 1.        ]])

In [6]:
# data berbeda, namun pola sama
x = np.array([1,1,1])
y = np.array([2,2,2])
similarityScore = cosine_similarity([x,y])
similarityScore

array([[1., 1.],
       [1., 1.]])

In [7]:
# interval 1, dengan interval 0
x = np.array([1,2,3])
y = np.array([5,5,5])
similarityScore = cosine_similarity([x,y])
similarityScore

array([[1.       , 0.9258201],
       [0.9258201, 1.       ]])

In [8]:
# interval berbeda jauh
x = np.array([1,20,300])
y = np.array([5,5,5])
similarityScore = cosine_similarity([x,y])
similarityScore

array([[1.        , 0.61639313],
       [0.61639313, 1.        ]])

#### B. count vectorizer
- Bagaimana menghitung cos similarity untuk categorical data (value berupa string)
- Data diekstrak untuk menentukan jumlah tiap kata. Jumlah tiap kata dalam data itulah yang dicari cos similarity-nya

In [9]:
from sklearn.feature_extraction.text import CountVectorizer

In [23]:
x = 'Andi Budi Caca'
y = 'Andi Budi Caca'

In [24]:
coVec = CountVectorizer()

In [25]:
c = coVec.fit_transform([x,y])
c

<2x3 sparse matrix of type '<class 'numpy.int64'>'
	with 6 stored elements in Compressed Sparse Row format>

In [26]:
# kata apa aja yang terkandung dalam x dan y
coVec.get_feature_names()

['andi', 'budi', 'caca']

In [27]:
# matriks freq
mf = c.toarray()
mf

# [1,1,1] baris pertama mengindikasikan x => Andi:1x, Budi:1x, Caca: 1x
# [1,1,1] baris kedua mengindikasikan y  => Andi:1x, Budi:1x, Caca: 1x

array([[1, 1, 1],
       [1, 1, 1]], dtype=int64)

In [28]:
similarityScore = cosine_similarity(mf)
similarityScore

array([[1., 1.],
       [1., 1.]])

In [30]:
# data berbeda

x = 'Andi Budi Caca'
y = 'Andi Budi Budi'

coVec = CountVectorizer()
cm = coVec.fit_transform([x,y])
print(coVec.get_feature_names())
print(cm.toarray())
similarityScore = cosine_similarity(cm.toarray())
print(similarityScore)

# [1,1,1] baris pertama mengindikasikan x => Andi:1x, Budi:1x, Caca: 1x
# [1,2,0] baris kedua mengindikasikan y  => Andi:1x, Budi:2x, Caca: 0x

['andi', 'budi', 'caca']
[[1 1 1]
 [1 2 0]]
[[1.         0.77459667]
 [0.77459667 1.        ]]

<hr>

#### C. Contoh kasus

Dataset : USA Cars Dataset
- Content-based Filtering Brand & Colors

In [32]:
dfCars = pd.read_csv('USA_cars_datasets.csv')
dfCars.head()

,Unnamed: 0,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,0,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,1,2899,ford,se,2011,clean vehicle,190552.0,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,2,5350,dodge,mpv,2018,clean vehicle,39590.0,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,3,25000,ford,door,2014,clean vehicle,64146.0,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,4,27700,chevrolet,1500,2018,clean vehicle,6654.0,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left

In [36]:
# 1. create column dengan value = kombinasi value "BRAND" & "COLOR"

dfCars['B&C'] = dfCars.apply(lambda row:str(row['brand']) + ' ' + str(row['color']), axis=1)
dfCars.head(3)

,Unnamed: 0,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition,B&C
0,0,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left,toyota black
1,1,2899,ford,se,2011,clean vehicle,190552.0,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left,ford silver
2,2,5350,dodge,mpv,2018,clean vehicle,39590.0,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left,dodge silver

In [37]:
# 2. count vectorizer: hitung kata tiap data di column "B&C"

cv = CountVectorizer()
cm = cv.fit_transform(dfCars['B&C'])

# total kata unik di col B&C
print(cv.get_feature_names())

# matrix freq tiap kata di tiap data
print(cm.toarray())
# print(cm.toarray()[0])

['acura', 'audi', 'beige', 'benz', 'billet', 'black', 'blue', 'bmw', 'bright', 'brown', 'buick', 'burgundy', 'cadillac', 'cayenne', 'charcoal', 'chevrolet', 'chrysler', 'clearcoat', 'coat', 'color', 'competition', 'crimson', 'dark', 'davidson', 'dodge', 'ford', 'glacier', 'gmc', 'gold', 'gray', 'green', 'guard', 'harley', 'heartland', 'honda', 'hyundai', 'infiniti', 'ingot', 'jaguar', 'jazz', 'jeep', 'kia', 'kona', 'land', 'lexus', 'light', 'lightning', 'lincoln', 'magnetic', 'maroon', 'maserati', 'mazda', 'mercedes', 'metallic', 'morningsky', 'nissan', 'no_color', 'off', 'orange', 'oxford', 'pearl', 'pearlcoat', 'peterbilt', 'phantom', 'platinum', 'purple', 'ram', 'red', 'royal', 'ruby', 'shadow', 'silver', 'super', 'tan', 'tinted', 'toreador', 'toyota', 'tri', 'triple', 'turquoise', 'tuxedo', 'white', 'yellow']
[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

In [38]:
# 3. Cosine similarity dari tiap data di matrix freq

cosScore = cosine_similarity(cm.toarray())
cosScore

array([[1. , 0. , 0. , ..., 0. , 0.5, 0. ],
       [0. , 1. , 0.5, ..., 0.5, 0. , 0.5],
       [0. , 0.5, 1. , ..., 0.5, 0. , 0.5],
       ...,
       [0. , 0.5, 0.5, ..., 1. , 0.5, 1. ],
       [0.5, 0. , 0. , ..., 0.5, 1. , 0.5],
       [0. , 0.5, 0.5, ..., 1. , 0.5, 1. ]])

In [39]:
# 4. Gunakan cos score sbg data rekomendasi
# saya suka mobil data pertama (index = 21)
sayaSuka = 21

# daftar seluruh mobil beserta cos score
similarCars = list(enumerate(cosScore[sayaSuka]))
# similarCars  # (index, %similarity)

In [40]:
# sort berdasarkan %similarity
similarCars = sorted(similarCars, key=lambda x: x[1], reverse=True)
# similarCars

In [41]:
# 5 mobil yang mirip

# similarCars[:6]

dfSim = []
for i in similarCars[:6]:
    dfSim.append(dfCars.iloc[i[0]])
dfSim = pd.DataFrame(dfSim)
dfSim

,Unnamed: 0,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition,B&C
21,21,7300,kia,forte,2018,clean vehicle,38823.0,black,3kpfl4a79je272611,167801773,north carolina,usa,2 days left,kia black
527,527,3810,kia,door,2016,clean vehicle,39408.0,black,kndjx3ae3g7012477,167692796,california,usa,20 hours left,kia black
623,623,14000,kia,sorento,2017,clean vehicle,53424.0,black,5xypgda51hg221253,167119104,connecticut,usa,5 hours left,kia black
0,0,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left,toyota black
6,6,7300,chevrolet,pk,2010,clean vehicle,149050.0,black,1gcsksea1az121133,167753872,georgia,usa,22 hours left,chevrolet black
9,9,5250,ford,mpv,2017,clean vehicle,63418.0,black,2fmpk3j92hbc12542,167656121,texas,usa,2 days left,ford black